body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    border-bottom: 5px solid #ccc;
}

.container {
    width: 550px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    background-color: rgb(215,220,221);
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    color: #333;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 48%;
}


.highlight-label {
    color: rgb(53, 192, 152);
    font-weight: bold;
}

.gender label, .hobbies label {
    color: inherit;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], select, textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="email"]{

    width: 200%;
}

input[type="range"] {
    width: 100%;
}


input::placeholder, textarea::placeholder {
    opacity: 0.5;
}


.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button[type="submit"] {
    background-color: #35c098;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2aa180;
}

.input-group-bio{
    display: flex;
    flex-direction: column;
    width: 100%;
    resize: none;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #888;
}

.checkbox-group {
    display: outside;
    font-size: 15px;
}



.input-group.gender{
    width: 100%;
}

.input-group.hobbies {
    margin-left: 22px;
    width: 100%;
}

.radio-group {
    display: outside;
    gap: 15px;
    font-size: 15px;
}

#bio{
    resize: none;
}

output{
    width: 11%;
    background-color: #2aa180;
}
